Manifest.toml
.vscode/settings.json
data/~$*.xlsx
*.lp
results/
logs/
config/cluster.json
data/*/ScenarioData/sloadRaw.csv
data/*/ScenarioData/maxRegHydroGenRaw.csv
data/*/ScenarioData/genCapAvailStochRaw.csv
data/*/ScenarioData/sampling_key.csv
data/*/Copulas/
OutOfSample/
**/.DS_Store
__pycache__/
